<div class="container-fluid">
  <div class="row">
    <div class="mr-auto">
      <h4>Clientes</h4>
    </div>
    <div class="mt-1">
      <button class="btn btn-primary" (click)="adicionarCliente()">Adicionar cliente</button>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Data de Nascimento</th>
          <th scope="col">Sexo</th>
          <th scope="col">Endereço</th>
          <th scope="col">Estado</th>
          <th scope="col">Cidade</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cliente of clientes; index as i">
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.dataNascimento }}</td>
          <td>{{ cliente.sexo }}</td>
          <td>{{ cliente.endereco }}</td>
          <td>{{ cliente.estado }}</td>
          <td>{{ cliente.cidade }}</td>
          <td><button class="btn btn-outline-primary" (click)="editar(cliente)">Editar</button></td>
          <td><button class="btn btn-outline-danger" (click)="remover(i)">Remover</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>