<div class="container-fluid">
  <div class="form-group">
    <h3>{{titulo}}</h3>
  </div>
  <div class="form-group">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="nome">Nome</label>
          <input class="form-control" id="nome" type="text" formControlName="nome" required>
          <div *ngIf="submitted && nome.invalid" class="error">
            Nome é obrigatório.
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="dataNascimento">Data de Nascimento</label>
          <input class="form-control" id="dataNascimento" type="date" formControlName="dataNascimento" required>
          <div *ngIf="submitted && dataNascimento.invalid" class="error">
            Data de Nascimento é obrigatória.
          </div>
        </div>
        <div class="form-group col-md-3">
          <label for="sexo">Sexo</label>
          <select class="form-control" id="sexo" formControlName="sexo">
            <option selected>Selecione</option>
            <option>Masculino</option>
            <option>Feminino</option>
            <option>Outro</option>
          </select>
          <div *ngIf="submitted && sexo.invalid" class="error">
            Sexo é obrigatório.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2">
          <label for="cep">CEP</label>
          <input class="form-control" id="cep" type="text" formControlName="cep" 
          (blur)="getEndereco($event.target.value)" [textMask]="{mask: cepMask}">
        </div>
        <div class="form-group col-md-6">
          <label for="endereco">Endereço</label>
          <input class="form-control" id="endereco" type="text" formControlName="endereco">
        </div>
        <div class="form-group col-md-2">
          <label for="numero">Número</label>
          <input class="form-control" id="numero" type="text" formControlName="numero">
        </div>
        <div class="form-group col-md-2">
          <label for="complemento">Complemento</label>
          <input class="form-control" id="complemento" type="text" formControlName="complemento">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="bairro">Bairro</label>
          <input class="form-control" id="bairro" type="text" formControlName="bairro">
        </div>
        <div class="form-group col-md-2">
          <label for="estado">Estado</label>
          <input class="form-control" id="estado" type="text" formControlName="estado">
        </div>
        <div class="form-group col-md-3">
          <label for="cidade">Cidade</label>
          <input class="form-control" id="cidade" type="text" formControlName="cidade">
        </div>
      </div>
      <div class="bd-example">
      <button class="btn btn-success" type="submit">Salvar</button>
      <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
    </div>
    </form>
  </div>
  <div *ngIf="erroBuscarEndereco" class="alert alert-danger" role="alert">
    {{erroBuscarEndereco}}
  </div>
</div>